<div class="d-none d-lg-block">
    <div class="card">
        <div class="card">
            <div class="card-header">Durées</div>
            <div class="card-body text-dark">
                <ul>
                    <li>{% include recipes-icon.html icon="people" %}<span>{{ page.recipe.people }}</span></li>
                    <li>{{ page.recipe.prep }}</li>
                    {% if page.recipe.idle != 0 %} <li>{{ page.recipe.idle }}</li> {% endif %}
                    {% if page.recipe.cook != 0 %} <li>{{ page.recipe.cook }}</li> {% endif %}
                </ul>
            </div>
        </div>

        <div class="card-header">Ingrédients </div>
        <div class="card-body text-dark">
        </div>
    </div>
</div>
